$general-green: #008a00;
$dark-green:#174b30;
$general-warning: #c55415;
$danger: #ae1100;
$white:#fff;
$green:#5bd453;
$background-color: #f3f3f8;
$font-color: #1c1c1c;
$grey:grey;


$small-screen-min: 300px;
$med-screen-max: 768px;